<!-- <div class="card h-100">
    <img [src]="product.image" class="card-img-top" [alt]="product.title" />
    <div class="card-body">
      <p class="text-success">{{product.stock | sale}}</p>
      <h5 class="card-title">{{product.title | uppercase}}</h5>
      <p class="card-text">
         {{product.description}}
      </p>
      <p class="card-text">
        Price : {{product.price}}
     </p>
     <button class="btn btn-primary" (click)="redirectToDetails(product.id)">Details</button>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Released: {{product.released | date : 'short'}}</small>
    </div>
  </div>
   -->