<h2>products List</h2>
<hr />


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" >
    <!-- <app-product-card [product]="product"></app-product-card> -->
    <div class="card h-100">
        <img src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"
         class="card-img-top"  />
        <div class="card-body">
          <p class="text-success"></p>
          <h5 class="card-title">iPhone 9</h5>
          <p class="card-text">
            An apple mobile which is nothing like apple
          <p class="card-text">
            549 EGP
         </p>
        <br> <br><button class="btn btn-success">Add to card</button>

        </div>
        <div class="card-footer">
          <small class="text-body-secondary">smart phone</small>
        </div>
        <img src="" class="card-img-top"  />
    </div>
      
  </div>
</div>

