<h3>Registeration  Form| Reactive Form</h3>
<hr />

<form [formGroup]="gameForm" (ngSubmit)="submitAddGameForm()">
  <div class="mb-3">
    <label for="game_name_control" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="_name_control"
      aria-describedby="name_help"
      formControlName="Name"
    />
    <div
      *ngIf="
        gameForm.controls['Name'].touched &&
        gameForm.controls['Name'].invalid
      "
      id="name_help"
      class="text-danger form-text"
    >
      <small *ngIf="gameForm.controls['Name'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="gameForm.controls['Name'].errors?.['minlength']">
        Min. length is 2
      </small>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"
      >email</label
    >
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="game_description_help"
      rows="5"
      formControlName="email"
    >
    <div
      *ngIf="
        gameForm.controls['email'].touched &&
        gameForm.controls['email'].invalid
      "
      id="email"
      class="text-danger form-text"
    >
      <small *ngIf="gameForm.controls['email'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="gameForm.controls['email'].errors?.['email']">
        Please enter a valid email format.
      </small>
      
    </div>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="username"
      aria-describedby="game_price_help"
      formControlName="username"
    />
    <div
      *ngIf="
        gameForm.controls['username'].touched &&
        gameForm.controls['username'].invalid
      "
      id="game_price_help"
      class="text-danger form-text"
    >
      <small *ngIf="gameForm.controls['username'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="gameForm.controls['username'].errors?.['pattern']">
        should  contain no spaces.
      </small>
    </div>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">password</label>
    <input
      type="password"
      class="form-control"
      id="username"
      aria-describedby="game_price_help"
      formControlName="password"
    />
    <div
      *ngIf="
        gameForm.controls['password'].touched &&
        gameForm.controls['password'].invalid
      "
      id="game_price_help"
      class="text-danger form-text"
    >
      <small *ngIf="gameForm.controls['password'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="gameForm.controls['password'].errors?.['pattern']">
        password length not less 
than 8 characters , contains at least one 
lowercase , one uppercase , at least one digit 
and special character.
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="gameForm.invalid">
    Register
  </button>
  <p>Already have an account!<a href="login">login</a></p>
</form>



